
<div class="row" style="margin-top: 35vh">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email" placeholder="Enter email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <button class="btn" style="width: 200px" (click)="login()">login</button><br> <br>
      <br>
      <button class="btn btn-large btn-danger" (click)="navigateToSignup()" style="width: 200px">create account</button> 
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>