<div class="question">
    <div *ngFor='let question of questions'>
        <div *ngIf='question.type === "slider"'>
          <h6>{{question.text}}</h6>
          <div class="slidecontainer">
              <input type="range" min="{{question.minValue}}" max="{{question.maxValue}}" step="{{question.step}}" class="slider" [(ngModel)]="question.answer">{{question.answer}}
            </div>
        </div>
        <div *ngIf='question.type === "radio"'>
            <h6>{{question.text}}</h6>
            <div *ngFor='let value of question.choiceValue; let i = index'>
              <input [value]="value" type="radio" name="choices" id="" [(ngModel)]="question.answer" />{{question.choices[i]}}
            </div>
        </div>
      </div>
      <br>
      <button (click)="submit()" class="btn btn-lg btn-danger" style="float: right">Submit</button>
</div>
<br> <br>
<button (click)="logout()" class="btn btn-lg btn-danger" style="float: right">Logout</button>