
  <div class="row" style="margin-top: 35vh;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="user.password">
        </div>
        <br>
        <button class="btn btn-large btn-danger" (click)="signup()" >Sign Up</button> 
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>